<a href="https://colab.research.google.com/github/keulreobeu/bigdate_student/blob/main/%EC%83%88%EC%8B%B9_%ED%97%AC%EC%8A%A4%EC%BC%80%EC%96%B4_%EC%84%9C%EB%B9%84%EC%8A%A4%EA%B8%B0%ED%9A%8D/Python_%EA%B8%B0%EC%B4%88_H.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 기초 문법

`작성자: 최원칠 강사`   
`traveler4d@gmail.com`

## 파이썬 정의
파이썬은 크게 **변수, 함수, 객체, 모듈** 4가지의 정의를 가지고 있습니다.  11
파이썬은 이러한 정의를 통해 데이터의 기본 규칙을 만들어 냅니다.

### 변수

파이썬에서 데이터를 활용하기 위해서는 기본적으로 **변수**라는 정의를 사용합니다.

컴퓨터에서 데이터란 메모리라는 하드웨어에 존재합니다. 하드웨어는 수많은 주소를 가지고 있으며 데이터는 이 주소에 저장이 됩니다. 저장된 데이터를 찾아가기 위해서는 주소를 알아야 하며 데이터가 저장된 주소를 참조하는 주소명 역할을 하는것이 바로 변수입니다.  


- **변수**
    - 프로그래머가 컴퓨터에 보관된 데이터를 찾고 활용 할 수 있게 해주는 **참조** 주소명
    - 데이터 생성 시 변수에 **할당** 하여 이후에 지속적으로 데이터를 사용
    - 변수는 하나의 주소에만 참조가 가능


<center><img src="https://drive.google.com/thumbnail?id=1E40fFpSY_Uzzen6s9IeTnTHME3k7TNm5&sz=w1000" width="400"/></center>

- 변수 이름 규칙
    - 소문자 영단어
    - 2개이상의 단어 사용시 _ 로 단어구분 ex) my_num
    - _ 를 제외한 특수문자 사용 금지
    - 숫자 사용시 영단어 뒤에 배치 ex) num1

#### 변수 할당
변수에 데이터를 할당 하기 위해선 적절한 표현의 변수이름을 지정하고 `=` 기호를 작성하고 데이터를 입력합니다.

In [ ]:
# 할당(assign), 저장의 의미를 가짐
num = 10
num

10

이미 할당된 변수에 = 을 사용하면 재할당이 이루어집니다.

In [ ]:
# 변수 재할당
num = 10
num = 11
num

11

변수(a)에 할당이 이루어진 또다른 변수(b)를 할당 하면 변수(b)에 할당된 데이터가 변수(a)에 할당됩니다.

In [ ]:
# 변수에 변수 할당
num1 = 10
num2 = num1
print(num1)
print(num2)

10
10

 > 여러줄을 동시에 출력하기 위해 `print()`를 활용하여 데이터를 출력 가능

할당은 참조의 개념임이므로 할당 순서에 따라 최종 변수에 할당된 데이터가 무엇일지를 잘 생각해야 합니다.

In [ ]:
# 할당은 참조의 개념임을 유의할 것
num1 = 10
num2 = num1
num1 = 11
print(num1)
print(num2)

11
10



<left><img src="https://drive.google.com/thumbnail?id=1hT5wxrEPysJY0L7nh-e8xarAU3gO4A4Q&sz=w1000" width="400"/></left>


### 변수의 타입(데이터 타입)

파이썬에서 데이터는 모두 객체로 이루어져 있습니다. 이때 이 객체가 가지는 특성에 따라 데이터의 **타입(type)** 이 결정됩니다.

다음은 파이썬에서 제공하는 가장 기본적인 데이터 타입(자료형) 입니다.   

* int : 정수
* float : 소수점, 비율을 포함한 실수
* str : 문자열
* bool : True와 False

해당 데이터타입들은 직접 숫자나 특수 기호를 이용하여 데이터를 만들수 있으며, 이를 **리터럴(Literal)**이라 합니다.


데이터 타입에 따라 활용할 수 있는 연산과 기능이 달라지기 때문에 항상 변수의 데이터타입을 잘 파악해주어야 합니다.

#### int(정수형), float(실수형)

숫자를 의미하는 `int`와 `float` 타입은 직접 숫자를 입력하여 데이터를 만들수 있습니다.

In [ ]:
# 정수형 타입
num = 10
type(num)

int

> `type()` 을 활용하여 데이터의 타입 확인 가능

In [ ]:
# 실수형 타입
num = 10.1
type(num)

float

#### str(문자열)
문자의 집합인 텍스트를 나타내는 타입으로 `' '`,`" "`,`''' '''` 등 따옴표 기호안에 텍스트를 입력해 만들수 있습니다.

In [ ]:
# 문자열 타입
name1 = '파이썬'
name2 = "기초"
print(type(name1))
print(type(name2))

<class 'str'>
<class 'str'>

`'''` 를 이용하면 여러줄의 텍스트를 한번에 문자열로 만들 수 있습니다

In [ ]:
text = '''
파이썬 기초 수업
오늘도 화이팅 입니다.
'''
print(text)
print(type(text))

파이썬 기초 수업
오늘도 화이팅 입니다.

<class 'str'>

문자열을 만들때 `f` 기호를 앞에 붙이고 문자열 안에 `{}` 기호를 통해 변수에 할당된 데이터를 문자열에 포함 시킬 수 있습니다.

In [ ]:
# 문자열의 포맷 - 다양한 변수를 하나의 문자열로 생성

num = 1
name = '데이터분석'

ftext = f'{num}일차 {name} 수업에 오신걸 환영합니다'
ftext

'1일차 데이터분석 수업에 오신걸 환영합니다'

#### bool 타입
`True`와 `False` 두가지의 데이터만 표현가능하며, 참과 거짓을 의미하는 데이터로 논리적 구조를 짜는데 주로 활용합니다.

In [ ]:
# bool 타입
t = True
f = False
type(t)

bool

#### NoneType(None 타입)
NoneType은 변수에 할당된 데이터가 없음을 의미하는 데이터인 `None` 데이터만 표현하는 타입니다.    
주로 상황에 따라 데이터가 할당되는것이 나중에 정해지는 변수에 초기 값으로 사용됩니다.

In [ ]:
is_on = None
print(is_on)
print(type(is_on))

None
<class 'NoneType'>

### 변수와 연산자

파이썬에서는 연산자를 활용해 변수간의 연산을 만들수 있습니다.  
이때 데이터 타입에 따라 사용할 수 있는 연산자가 정해지며, 동일한 연산자라도 활용 방식이 달라지게 됩니다.

#### 산술연산
산술연산은 숫자를 의미하는 `int`와 `float`타입의 두 피연산자 사이에 사용하여 산술 연산을 진행합니다.

 - `+`: 더하기   
 - `-`: 빼기   
 - `*`: 곱하기   
 - `/` : 나누기   
 - `//` : 몫   
 - `%` : 나머지    
 - `**` : 제곱

In [ ]:
# 정수형 간의 연산자 활용
num1 = 10
num2 = 20
num1 + num2

30

정수와 실수간의 연산에서 결과는 반드시 `float` 타입이 나오게 됩니다.

In [ ]:
# 실수형 혼합 연산
num1 = 10
num2 = 10.1
num1 + num2

20.1

나누기 연산 또한 실수형으로 변환됩니다.

In [ ]:
# 나누기 연산시 실수형으로 변환
num1 = 10
num2 = 20
num2 / num1

2.0

문자열에서 산술 연산자를 사용하면 산술 연산이 아닌 문자열 붙임 연산 결과가 나옵니다.

In [ ]:
# 문자열 간의 연산 활용
name1 = '파이썬'
name2 = '기초'
name1 + name2

'파이썬기초'

In [ ]:
# 문자열과 숫자형 연산 가능
name = '10'
num = 3
name * num

'101010'

#### 대입연산
대입 연산은 산술 연산의 결과를 다시 동일한 변수에 대입(할당)하는 연산자 입니다.

- `a += b` : `a = a+b`   
- `a +- b` : `a = a-b`

In [ ]:
# += 을 활용하여 누적 연산 가능
num = 10
num += 10 # num = num + 10
num += 10
num

30

#### 비교연산
비교 연산은 두 피연산자간의 비교를 통해 `bool` 타입의 결과를 만드는 연산자입니다.

 - `==` : 값이 같으면 True  
 - `!=` : 값이 다르면 True  
 - `>, >=, <, <=` : 대소비교 성립시 True  
 - `is` : 타입과 값이 같으면 True

In [ ]:
# 비교연산자의 활용
num1 = 100
num2 = 10

print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 <= num2)
print(num1 is 100.0)

False
True
True
False
False

<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipython-input-7-4143713207.py:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(num1 is 100.0)

#### 논리연산
논리연산은 두 피연산자가 모두 `bool` 타입이여야 하며, 논리 연산 결과를 다시 `bool` 타입으로 제공합니다.

 `and` : 둘다 True이면 True   
 `or`: 둘중 하나라도 True 이면 True  
 `not`: True 이면 False (역변환)

In [ ]:
# 논리 연산 활용
print(not True)
print(True and True)
print(True and False)
print(True or False)
print(False or False)

False
True
False
True
False

논리연산의 피연산자는 `bool` 타입이므로 주로 비교연산자와 같이 활용되는경우가 많습니다.

In [ ]:
num1 = 100
num2 = 10

b1 = num1 == num2
b2 = num1 > num2

print(b1 and b2)
print(num1 != num2 or num1 < num2)

False
True

### 데이터 타입 변환 (형변환)
앞서 살펴보았듯이 데이터타입에 따라 활용 가능한 연산자가 다르고 연산의 결과 또한 다르다는 특징이 있습니다. 연산자 뿐만 아니라 이후에 배울 정의나 제어문에도 타입에 따라 결과가 다르기 때문에 상황에 맞는 데이터타입이 필요할 수 있습니다.

파이썬에서는 다음 제공되는 명령어를 통해 기본 타입간의 변환이 가능합니다.

- `int()`: () 안의 변수 또는 데이터를 int 객체로 변환
- `float()`: () 안의 변수 또는 데이터를 float 객체로 변환
- `str()`: () 안의 변수 또는 데이터를 str 객체로 변환
- `bool()`: () 안의 변수 또는 데이터를 bool 객체로 변환

In [ ]:
# 파이썬에서 int(),float(),str()등 내장함수로 제공
num1 = int(10.1)
num2 = float(10)
num3 = int('10')
num4 = str(10)
print(num1, num2, num3, num4)
print(type(num1), type(num2), type(num3), type(num4))

10 10.0 10 10
<class 'int'> <class 'float'> <class 'int'> <class 'str'>

> int => float 변환시 데이터의 손실이 생김     
> 정수 숫자만 입력된 str은 정수로 변환 가능

다음과 같이 불가능한 타입변환을 시도하면 에러가 발생하게 됩니다.

In [ ]:
num5 = int('안녕')

ValueError: invalid literal for int() with base 10: '안녕'

>이처럼 코드의 문법적인 문제는 없지만 실행중 문제가 생기는경우 원인에 따른 Error 문구를 출력하게 됩니다.

### 함수
파이썬에서 변수가 데이터를 대변할 수있다면 함수는 기능(알고리즘)을 대변할 수 있는 정의입니다.

**함수의 특징**
- 미리 기능을 정의하여 반복적으로 사용 (코드의 재사용성 증가)
- 기능이 수행되는 과정에 생긴 데이터는 기능이 끝나면 제거됨 (메모리 활용성 증가)


#### 함수 정의 하기
먼저 함수를 사용하기위해선 함수를 만드는 정의 과정의 필요합니다.   
함수를 정의하기 위해서는 다음과 같이 `def` 명령어를 사용하여 필요한 요소를 만들어줍니다.

    def 함수이름(인자1,인자2):
        실행 코드
        return 반환
    
- **인자** : 함수 실행시 필요한 입력 데이터(input)
- **반환** : 함수 실행후 결과로 제공될 출력 데이터(output)

1. 함수 헤더 만들기
    - `def`명령어 옆에 이름 정의. (변수 이름과 동일한 규칙)
    - 이름옆 `()`안에 인자를 정의 `,` 구분으로 여러개 정의 가능. 이렇게 정의한 인자는 함수 바디 영역 에서 변수로 활용.
2. 함수 바디 만들기
    - 함수 바디 영역은 함수가 호출될때 실행되는 코드 `:` 이후 `들여쓰기(TAB)`으로 작성.  
    - 함수 바디 영역에서 `return` 명령어 뒤에 출력할 데이터 또는 변수를 작성. `return` 명령어가 나오면 함수실행 종료

In [ ]:
# def 을 통한 함수 정의

def concat(arg1, arg2, arg3=10): # 함수 헤더 정의
    # 함수 바디 정의
    cat1 = arg1 + arg2
    cat2 = cat1 + arg3
    return cat2

> 인자를 정의할때 대입(`=`)을 통해 기본값을 미리 세팅 가능

#### 함수 사용(실행)
정의된 함수를 실행을 통해 반복적으로 사용할 수 있습니다.   
인자를 통해 전달된 데이터에 따라 함수 실행의 결과도 달라지게 됩니다.

- 정의된 함수의 이름을 호출하여 함수 실행 가능
- 정의된 인자를 입력하여 데이터를 전달
- 인자를 입력은 인자의 순서를 따르거나 인자 이름에 대입 (`인자=데이터`)

In [ ]:
# 순서 대입, 세번째 인자는 기본값 활용
out1 = concat(10,20)
print(out1)

# 세번째 인자까지 순서 대입
out2 = concat(10, 20, 30)
print(out2)

# 인자 이름 대입
out3 = concat(arg1=10, arg3=30, arg2=20)
print(out3)

40
60
60

> 기본값이 정의된 인자는 함수 사용시 할당이 안되면 기본값으로 사용

#### 함수 내부 변수
함수 바디에서 생성된 변수는 로컬 변수로 함수 외부 영역인 글로벌영역에서 접근이 불가능 합니다. 로컬변수는 해당 함수 영역 실행이 끝나는순간 사라지기 때문입니다.

- 글로벌 -> 로컬 읽기 불가능
- 로컬 -> 글로벌 읽기 가능
- 로컬 -> 글로벌 쓰기 불가능

In [ ]:
# 함수 내부의 변수는 외부에서 접근 불가

def fun1():
    data1 = 100 # 로컬 영역

fun1()
print(data1) # 글로벌 영역

NameError: name 'data1' is not defined

이러한 로컬 변수의 특징 때문에 함수를 활용할땐 항상 인자(parameter)와 반환(return)을 적절히 활용해야 합니다.

In [ ]:
# 인자와 반환을 활용
def local(a , b):  # 로컬 변수(인자)
    c = a+b        # 로컬 변수
    return c

d = local(10,20)   # 글로벌 변수
d

30

### 객체
객체는 프로그램 내에서 다양한 '기능'과 '부속 데이터'를 포함하여 만들어낸 데이터 구조체 입니다.
즉 우리 주변의 사물처럼 '속성'과 '행동'을 가지는 하나의 독립적인 존재가 되는것 입니다.


**자동차가 객체라면?**

- 속성(부속 데이터): 엔진, 색상, 크기, 기어, 시트, 타이어, 핸들, 엑셀, 브레이크
- 행동(기능): 출발, 멈추기, 속도 높히기, 속도 줄이기, 비상등, 핸들링, 경적

<center><img src="https://drive.google.com/thumbnail?id=18w_-Gu9AdZPAqgwxZ6q-hKSMkZgzGDz7&sz=w1000" width="500"/></center>

- **클래스** : 각종 데이터와 기능을 내포시킨 객체의 정의(코드상태)
- **인스턴스** : 정의상태인 클래스가 실행되어 실질적으로 존재하는 상태(지속 활용 가능한 데이터)
- **self 변수** : 클래스 내부에서 지속되는 변수(부속 데이터)
- **메소드** : 클래스 내부에서 정의된 함수(기능)


**객체 특징**

- 데이터와 기능의 캡슐화: 데이터(속성)와 기능(행동, 메소드)을 하나의 단위로 묶어 관리
- 재사용성: 한번 잘 정의된 클래스는 필요에 따라 여러 곳에서 인스턴스를 생성하여 재사용
- 유지보수: 객체 단위로 코드를 관리하면 특정 기능이나 데이터를 수정할 때 해당 객체 내부만 변경하면 되므로 전체 코드의 유지보성이 높아짐.


결국 변수에 할당되는 데이터는 클래스로 생성한 인스턴스이며, 이에 포함된 부속 데이터와 기능을 활용하여 다양한 작업을 쉽게 프로그래밍적으로 처리를 할수 있게 됩니다.

#### 클래스의 생김새 (class 정의)
객체를 정의하는 것을 데이터를 설계하는 작업입니다. 이렇게 객체를 정의하는 개념을 **클래스(class)**라고 합니다.

    class 객체이름:
        함수:
            셀프변수
            로컬변수

- class 명령어를 통해 객체(클래스)의 이름을 정의

    * 맨 앞글자를 대문자로 지정
    * 두개 이상 단어 구분을 대문자로 구분
    * 특수기호 올수 없음(`_`제외)
    * 맨 앞에 숫자 사용 불가

- 객체 내부 영역에는 함수(메소드)와 변수(셀프 변수)를 정의하여 구조를 만듬

    * 클래스 영역 내부에 정의한 함수(메소드)는 객체 생성 후 사용 가능
    * `__init__` : 클래스가 새로운 객체를 생성할 때 무조건 실행되는 생성자 메소드 (반드시 정의)
    * 메소드의 인자 정의 부분에는 항상 `self`인자를 맨앞으로 배치
    * `self.변수` 로 정의된 변수는 셀프 변수로 클래스 내부의 함수끼리는 공용으로 사용가능 (함수 실행이 끝나도 제거X)

In [ ]:
# class를 통해 객체 정의
# 클래스 이름은 맨앞글자 대문자 단어구분 대문자
class Product:

    # 생성자 (클래스->인스턴스 과정에 실행되는 함수)
    def __init__(self, name, price):
        self.name = name # self.name 변수와 name 지역변수는 다른 변수
        self.price = price
        self.cate = 'Ai'

    # 기능 함수
    def get_name(self):
        return self.name # self 변수는 클래스내 모든 함수가 공유

    def set_price(self, price):
        self.price = price

> `self.name = name`: 셀프 변수에 로컬 변수의 데이터를 할당하는 방식

#### 인스터스 생성 하기 (데이터화)
정의된 클래스를 통해 실제 데이터를 만들기 위해 클래스를 실행해야 합니다.

- 정의된 클래스를 실행하여 하나의 데이터를 만들고 변수에 할당하면 **인스턴스**
- 인스턴스의 데이터타입은 곧 클래스의 이름
- 인스턴스에서 `.`(도트연산)을 통해 클래스에서 정의된 메소드, self변수 사용

In [ ]:
# 클래스 이름을 호출하여 실행, 변수에 할당하여 인스턴스화


product = Product('스마트 홈캠', 500000) # 클래스 실행 인자는 __init__ 함수의 인자
print(type(product))
name = product.get_name() # 인스턴스 변수에서 .(도트연산) 활용
print(name)
print(product.name) # 셀프 변수 사용

product.set_price(600000)
print(product.price)

<class '__main__.Product'>
스마트 로봇
스마트 로봇
600000

> 활용하는 변수가 어떤 클래스 타입인지를 파악하여 내부 기능(함수)를 적절히 사용하는 것이 객체지향 언어의 기본적인 메커니즘

### 모듈
모듈은 파이썬에 존재하는 특수한 구조체로 파이썬에서 정의되는 모든 정의와 명령어를 담을 수 있는 가장 큰 단위의 정의입니다.
이는 작성한 소스를 패키징 하기에 매우 유리하며, 배포를 통해 소스를 공유하는 오픈소스의 기반이 됩니다.

**모듈의 특징**
- 변수, 함수, 객체를 모두 포함하는 파이썬에서 가장 큰 단위의 정의
- 기본적으로 코드를 작성하고 있는 스크립트 페이지가 모듈 영역
- .py 파일 확장자를 가짐
- 모듈에서 생성된 변수는 글로벌 변수로 취급됨
- 모듈 내에서 다른 소스코드가 작성된 모듈을 가져올 수 있음 수 있음

In [ ]:
# 모듈 가져오기
# import 명령어 활용
import os
# as 명령어로 모듈을 특정 변수이름에 할당
import collections as ct
# from 명령어로 모듈내 특정 정의만 import
from pathlib import Path

# 모듈 사용하기
cwd = os.getcwd()
dq = ct.deque()
path = Path('/.')

> 모듈을 사용하기 위해서는 파이썬 내부 패키지에 모듈이 설치되어 있어야함     
> 파이썬 설치시 기본적으로 포함되어 설치되는 모듈은 추가 설치가 필요없음

### 1. 실습

#### [실습1]
x에 10.1을 저장하고, y에 101을 저장한 다음 더한후 정수로 출력

In [ ]:
x = 10.1
y = 101
z = x+y
print(int(z))

111

#### [실습2]
a=1, b=5로 할당하고 문자열 포맷으로 'a + b는'과 a+b 계산 결과를 print( )로 함께 출력

출력 결과 예시:  
`1 + 5는 6`

In [ ]:
a = 1
b = 5
print(f'a + b는 {a+b}')

a + b는 6

#### [실습3]
체중(kg)과 키(cm)를 변수로 만들고 두 변수를 활용하여 bmi를 계산하여 다음과 같은 문자열 포맷으로 출력

- bmi : 체중에서 키의 제곱을 나눈후 10000을 곱한값

    
    당신의 키는 172cm 체중은 69kg bmi는 입니다.

In [ ]:
t = 172
w = 69

bmi = (w / (t**2)) * 10000

print(f'당신의 키는 {t}cm 체중은 {w}kg bmi는 {bmi:.2f} 입니다.')

당신의 키는 172cm 체중은 69kg bmi는 23.32 입니다.

#### [실습4]
다음 정의된 함수를 실행하고, 반환된 값을 출력

In [ ]:
def info(name):
    text = f'어서오세요 {name}님'
    return text

info('user')

'어서오세요 user님'

#### [실습5]
[실습3]의 bmi 계산 기능을 함수로 정의할 것.

이때 신장과 체중이 입력되는 height, weight 인자을 정의하고 만들어진 문자열이 반환되는 return이 정의되어야 함.

만든 함수 이름을 통해 신장과 체중을 입력하고 결과를 출력

In [ ]:
def bmi_f(h, w, n):
    '''
    키 = h(cm), 몸무게 = w(kg), n = 자리수
    '''
    bmi = (w / (h**2)) * 10000
    return f'{bmi:.{n}f}'

print(bmi_f(178, 60, 2))

18.94

#### [실습6]
다음 클래스(Member)를 활용해 자신의 이름과 나이가 들어간 인스턴스 생성하고, print_info() 함수를 통해 다음 문구 출력

`저의 이름은 000, 나이는 00 입니다.`

In [ ]:
class Member:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def print_info(self):
        return f'저의 이름은 {self.name} 나이는 {self.age} 입니다.'

In [ ]:
my_member = Member('jinho', 29)

my_member.print_info()

'저의 이름은 jinho 나이는 29 입니다.'

#### [심화1]

다음 요구사항을 만족하는 클래스를 직접 정의

**Customer 클래스 정의**  

- 생성자    
    - 인자: 고객 이름(name)과 고객 번호(c_id)
    - 인자로 입력된 데이터를 셀프변수에 저장
    - 0이 할당된 계좌금액 셀프변수 생성
- add_amount 함수 생성
    - 인자: 입금 금액
    - 계좌금액 셀프변수에 입금 금액 추가
    - self.a = self.a + inp => self.a += inp
- sub_amount 함수 생성
    - 인자: 출금 금액
    - 계좌금액 셀프변수에 출금 금액 차감
- get_info 함수 생성
    - 고객이름, 고객번호, 계좌금액을 포함한 문자열 포맷 반환

In [ ]:
class Customer:
    def __init__(self, name, c_id):
        self.name = name
        self.c_id = c_id
        self.a = 0

    def add_amount(self, inp):
        self.a += inp

    def sub_amount(self, out):
        self.a -= out

    def get_info(self):
        return f'{self.name}, {self.c_id}, {self.a}'


cut = Customer('jinho', 12)
cut.add_amount(1000)
cut.sub_amount(100)
cut.get_info()

'jinho, 12, 900'

#### [심화2]
Customer 인스턴스를 생성하여 다음과 같은 구성을 코드로 작성

- 임의의 고객명과 고객번호를 가지는 Customer 인스턴스를 2개 생성하고 변수에 각각 할당하세요
- 첫번째 고객의 계좌금액을 5000 추가하세요
- 두번째 고객의 계좌금액을 3000 추가하세요
- 두 고객의 정보를 출력하세요
- 첫번째 고객의 계좌금액을 2000 차감하세요
- 두번째 고객의 계좌금액을 1000 차감하세요
- 두 고객의 정보를 출력하세요

In [ ]:
cst1 = Customer('A', 1)
cst2 = Customer('B', 2)

cst1.add_amount(5000)
cst2.add_amount(3000)

print(cst1.get_info())
print(cst2.get_info())

cst1.sub_amount(2000)
cst2.sub_amount(1000)

print(cst1.get_info())
print(cst2.get_info())

A, 1, 5000
B, 2, 3000
A, 1, 3000
B, 2, 2000

<br>

## 흐름 제어문의 활용


프로그램이 완성되기 위해서는 데이터 뿐만 아니라 데이터를 상황에 맞게 제어가 필요합니다.    
파이썬에서 데이터를 제어하는 문법은 크게 두가지로 조건문과 반복문 존재합니다.


### 조건문  

조건문은 프로그램의 진행 흐름에 있어 분기점을 제공합니다.
이런 조건문은 파이썬에선 `if`,`elif`,`else` 명령어로 구성할 수 있습니다.

#### if 조건문

**if** 조건문은 **else**명령어와 함께 사용될 수 있으며, **if**명령어 옆에 오는 **bool** 데이터를 체크하여 특정 영역의 코드 실행여부를 판단합니다.   

    if bool데이터 :
        code
    else:
        code
    
- `True`인 경우: `if`문의 `: 들여쓰기` 영역의 코드를 실행
- `False`인 경우: `else`문의 `: 들여쓰기` 영역 코드를 실행

In [ ]:
# 변수 할당 (int)
point=110

# if else문 구성
if point >=100:
    print('vip') # True인 경우 실행
else:
    print('일반회원') # False인 경우 실행

vip

#### 중첩 조건문
`if` 또는 `else` 명령어 안에 추가적인 조건이 중첩되는 경우를 중첩 조건문이라 하며, `else` 안에 조건문이 중첩되는 경우 **elif** 문으로 축약하여 사용 가능합니다.

In [ ]:
# if와 elif와 else의 활용

point = None # 결측 (데이타 없음을 의미)

if point is None: # is : 타입까지 동일해야 True
    print('비회원')
else:
    if point >=100:
        print('vip')
    else:
        print('일반회원')

비회원

In [ ]:
point = 140

if point is None:
    print('비회원')
elif point >=200:
    print('vvip')
elif point >=100:
    print('vip')
else:
    print('일반회원')

vip

<br>

### 반복문
반복문은 프로그램 내에서 반복적인 데이터의 흐름을 만들기 위한 명령어로 조건문과 더불어 데이터의 흐름을 만들고 효율적인 알고리즘을 만드는데 핵심 역할을 합니다.

- 파이썬에서 반복문은 for 문과  while 문을 사용
- 여러개의 데이터를 제어하기 위해 사용하므로 데이터분석에 있어 필수 명령어

#### for 반복문
 for문은 파이썬에서 기본적으로 사용되는 반복문으로, 가지고있는 반복 대상(여러 데이터)을 하나씩 순서대로 접근하여 필요한 작업을 반복적으로 적용합니다.  

    for 변수 in 이터러블:
        반복코드

- **이터러블**: 여러개의 데이터를 가지고있으며, 데이터를 순서대로 출력가능한 구조
- **변수**: 이터러블에서 가져온 특정 순서의 데이터가 할당되는 변수
- **반복코드**: `for`문의 들여쓰기 영역으로 변수에 적용될 작업 코드를 작성

<center><img src="https://drive.google.com/thumbnail?id=1lXI0if9aDUsTnzHZwbxdUj8Iui2xOJuK&sz=w1000" width="400"/></center>

In [ ]:
# 대표적인 이터러블인 리스트를 활용

datas = [10,20,30,40,50]

for data in datas:
    print(f'데이터:{data}')

데이터:10
데이터:20
데이터:30
데이터:40
데이터:50

#### range() 함수 활용
`range()` 함수 결과를 이터러블로 활용하면 원하는 반복 횟수를 만들 수 있습니다.

- `range(s, e, step)`: s값부터 e-1값까지의 step 간격을 가지는 수열 이터러블을 생성

In [ ]:
# 0~4까지의 1의 간격을 가지는 수열 이터러블
for i in range(0,5):
    print(f'데이터: {i}')

0번째 반복
1번째 반복
2번째 반복
3번째 반복
4번째 반복

In [ ]:
# 0~9까지의 2의 간격을 가지는 수열 이터러블
for i in range(0,10,2):
    print(f'데이터: {i}')

데이터: 0
데이터: 2
데이터: 4
데이터: 6
데이터: 8

In [ ]:
count = 0

for d in [0,1,2,3,4]:
    count += d ## 반복할 때마다 i를 더함
    print(f'{d}를 더한 값은 {count}')

0를 더한 값은 0
1를 더한 값은 1
2를 더한 값은 3
3를 더한 값은 6
4를 더한 값은 10

#### 반복 제어
파이썬에는 반복문과 조건문을 같이 활용하여 반복문을 중단하거나 건너 뛸수 있습니다.

- `break` : 포함된 반복문을 중단시킴  
- `continue` : 이후 반복문 내의 코드를 실행하지 않고 다음 반복으로 넘김

주로 반복문 안에 조건문을 주어 특정 상황에 `break`를 통해 반복을 중지하거나 `continue`를 통해 반복을 건너뜁니다.

In [ ]:
# for문 안에서 if문을 활용
for a in range(1,10):
    if a >= 7: # 5보다 크면 반복 중단
        break
    print(a)

print('반복끝')

1
2
3
4
5
6
반복끝

In [ ]:
#
for a in range(1,10):
    if a % 3 == 0: # 3로 나눈 나머지가 0이면
        continue
    print(a)

1
2
4
5
7
8

> 조건문과 `%` 연산자를 통해 특정 숫자의 배수를 찾을 수 있습니다.

#### while 반복문
**while** 반복문은 오로지 특정 상황만을 보고 반복을 진행하는 반복문으로, `while` 명령어 옆의 `bool`값을 통해 반복을 결정합니다.

In [ ]:
i = 0

# i값이 10보다 작으면 반복
# i값이 10보다 커지는순간 반복정지
while i<10:
# 반복마다 i값이 1씩증가
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 0

# if와 break 활용한 반복정지
while True:
    i += 1
    if i > 10:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

#### 중첩 반복문
조건문이 중첩되듯이 반복문 또한 두번이상 중첩이 될수 있습니다. 특히, 이후에 배우게 될 2차원 구조를 가진 데이터구조에서 많이 활용됩니다.

In [ ]:
# 0~4 반복
for i in range(5):
    print('-----')

    # 0~4 반복안에 4~0 반복하여 25번 반복
    for j in range(5,0,-1):
        print(f'<{i}{j}>')

-----
<05>
<04>
<03>
<02>
<01>
-----
<15>
<14>
<13>
<12>
<11>
-----
<25>
<24>
<23>
<22>
<21>
-----
<35>
<34>
<33>
<32>
<31>
-----
<45>
<44>
<43>
<42>
<41>

### 오류 제어
소스코드를 작성하여 실행하다 보면 오류가 발생하는 경우가 생깁니다.   
이때 파이썬은 몇가지 오류에 대한 정의를 만들어 놓아 개발자가 쉽게 오류를 컨드롤 할 수 있게 도와줍니다.

#### 오류 종류
- SyntaxError: Python 코드가 잘못된 문법으로 작성된 경우 발생
- NameError: 정의되지 않은 변수나 함수에 접근하려고 할 때 발생
- TypeError: 잘못된 데이터 타입 간 연산 또는 함수 호출 시 발생
- ValueError: 함수의 인자가 적절하지 않을 때 발생
- ZeroDivisionError: 0으로 나누는 연산시 발생
- IndexError: 유효하지 않은 인덱스에 접근하려고 할 때 발생(리스트, 튜플등)
- KeyError: 존재하지 않는 키를 사용하려고 할 때 발생(딕셔너리)

In [ ]:
# SyntaxError
print("Hello World!"

SyntaxError: incomplete input (2426696027.py, line 2)

> 괄호가 닫히지 않아 SyntaxError 발생

In [ ]:
# NameError
print(variable)

NameError: name 'variable' is not defined

> variable이름의 변수가 정의되지 않아 NameError 발생

In [ ]:
# TypeError
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

> 문자열과 숫자는 타입이 동일하지 않아 더할 수 없음

#### 예외 처리
필요 상황에 따라 오류발생시 오류를 무시하거나 오류를 처리해야 하는 작업이 필요한 경우 오류를 미리 체크하여 예외상황을 만드는 `try-except` 명령어를 활용할 수 있습니다.  

    try:
        오류 발생 가능이 있는 코드
    except 검출오류:
        오류 발생시 실행될 코드

- `try` 영영에 작성된 코드에서 오류 발생시 `except` 영영의 코드 실행
- `except` 문에 검출하고자 하는 오류를 명시하면 명시된 오류만 검출
- `except`문에 오류가 입력되지 않으면 모든 오류를 검출

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")

0으로 나눌 수 없습니다.

> `except`문에 `ZeroDivisionError` 를 입력하여 ZeroDivisionError만 검출

### 실습


#### [실습1]
구구단 19단 출력하기  

    -출력예시-
    19 X 1 = 19
    19 X 2 = 38 ...

In [ ]:
#1. 참고
print(f'{19} X {1} = {19}')

19 X 1 = 19

In [ ]:
for i in range(1,20):
    print(f'{19} X {i} = {19*i}')

19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190
19 X 11 = 209
19 X 12 = 228
19 X 13 = 247
19 X 14 = 266
19 X 15 = 285
19 X 16 = 304
19 X 17 = 323
19 X 18 = 342
19 X 19 = 361

#### [실습2]
아래의 숫자 리스트 nums 에서 반복문을 통해 10 이상인 숫자가 등장했을때 '발견' 문자열을 출력

    nums = [9, 10, 4, 22, 3, 19]

In [ ]:
nums = [9, 10, 4, 22, 3, 19]

for i in range(0,len(nums)):
    if nums[i] >= 10:
        print(f'발견 index{i}')

발견 index1
발견 index3
발견 index5

#### [실습3]
아래의 숫자 리스트 `nums`에서 10 이상인 숫자만 따로 모아 합계 계산하기

    nums = [9, 10, 4, 22, 3, 19]

In [ ]:
nums = [9, 10, 4, 22, 3, 19]
a = 0
for i in range(0, len(nums)):
    if nums[i] >= 10:
        a += nums[i]
print(a)

51

#### [실습4]
다음 리스트에 있는 숫자의 누적 합을 출력하세요. 단 *가 나오면 건너뛰고  - 가 나오면 반복을 중지

    nums2 = [1, 2, '*', 4, 5, '*', 7, '-', 9]

    - 출력결과 -
    1
    3
    7
    12
    19

In [ ]:
nums2 = [1, 2, '*', 4, 5, '*', 7, '-', 9]

In [ ]:
b = 0
for i in range(0, len(nums2)):
    if nums2[i] == '*':
        continue
    elif nums2[i] == '-':
        break
    else:
        b += nums2[i]
        print(b)

1
3
7
12
19

#### [실습5]
다음 num 변수에 있는 정수를 nums3 리스트에 있는 숫자들로 나누었을 때 각각의 몫을 출력
 - 반복문을 활용할 것
 - 에러가 발생하면 건너뛰기


    num = 100
    nums3 = [3,10,5,20,0,50,2]

In [ ]:
    num = 100
    nums3 = [3,10,5,20,0,50,2]

In [ ]:
for i in range(0, len(nums3)):
    try:
        print(f'{num/nums3[i]:.2f}')
    except ZeroDivisionError:
        continue

33.33
10.00
20.00
5.00
2.00
50.00

#### [심화1]
for문을 두번 중첩하여 1~47번중 6개의 번호를 뽑는 로또 번호를 5개 생성하여 출력하세요 (숫자 중복 상관없음)

**random** 모듈    
`random` 모듈의 `randint()` 함수를 활용하여 랜덤 숫자 생성    
`randint(s,e)`: s~e 사이의 랜덤한 수 생성

In [ ]:
import random

In [ ]:
for i in range(0,5):
    list = []
    for j in range(0,6):
        list.append(random.randint(1,47))
    print(list)

[25, 36, 34, 18, 14, 24]
[20, 46, 32, 41, 40, 18]
[45, 42, 25, 12, 39, 15]
[38, 3, 47, 39, 31, 7]
[6, 8, 22, 28, 38, 28]

#### End of script